body {
    margin: 0;
    font-family: Tahoma, sans-serif;
}

.intro {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

.intro:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .8);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.intro__title {
    margin: 50px;

    font-size: 45px;
    color: #fff;
    text-align: center;
}

.intro__p {
  margin: 0;

  font-size: 20px;
  color: #fff;
  text-align: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.video {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}

.video__media {
    width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;
}

.picture_ym {
  flex-direction: column;
  justify-content: center;
  margin: -70px;
  object-fit: contain;
  position: absolute;
  top: 100%;
  left: 49%;
  z-index: 3;
}

.picture_vk {
  flex-direction: column;
  justify-content: center;
  margin: -70px;
  object-fit: contain;
  position: absolute;
  top: 100%;
  left: 53%;
  z-index: 3;
}
